body {
  color: rgb(30, 30, 30);
  background-color: rgb(240, 240, 240);
  font-weight: 300;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: rgb(88, 41, 134);
  color: white;
  padding: 0.25rem 0;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-weight: 300;
}

p {
  line-height: 2rem;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

label,
input,
textarea,
.placeholder-image,
.save-button {
  border-radius: 0.2rem;
  margin-bottom: 1.5rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input {
  height: 2rem;
}

input,
textarea {
  margin-bottom: 1.5rem;
  border: 1px solid rgb(196, 196, 196);
  font-size: 1rem;
  font-family: sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(88, 41, 134);
  box-shadow: 0 0 1px 1px rgba(88, 41, 134, 0.5);
}

.save-form {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  background-color: rgb(88, 41, 134);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.entry-list {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

.entry-image {
  height: 21.5rem;
  padding-bottom: 1rem;
}

.entry-list-item {
  /* padding: 1rem 0; */
}
