body {
  color: rgb(30, 30, 30);
  background-color: rgb(240, 240, 240);
  font-weight: 300;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

.page-header {
  background-color: rgb(88, 41, 134);
  color: white;
}

/* h1 {
  font-size: 2rem;
} */

/* h3 {
  font-weight: 300;
} */

label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  display: block;
}

input {
  height: 2rem;
}

input,
.placeholder-image {
  margin-bottom: 1.5rem;
}

input,
textarea,
.placeholder-image,
.entry-image,
.save-button,
.new-entry-button {
  border-radius: 0.2rem;
}

input,
textarea {
  border: 1px solid rgb(196, 196, 196);
  font-size: 1rem;
  font-family: sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(88, 41, 134);
  box-shadow: 0 0 1px 1px rgba(88, 41, 134, 0.5);
}

.save-form,
.new-form {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.save-button,
.new-entry-button {
  background-color: rgb(88, 41, 134);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
}

.entry-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.entry-image {
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0;
  margin: 1rem 0;
}

.entry-notes {
  line-height: 2rem;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

/* .top-nav {
  font-weight: 300;
  padding: 1.25rem 0 0 2rem;
  color: white;
  text-decoration: none;
} */

.tab {
  padding: 1rem 1.5rem 1rem 0;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

[data-view="entry-form"].tab.active {
  font-size: 1.25rem;
  font-weight: 300;
}

[data-view="entries"].tab.active {
  cursor: pointer;
}

.no-wrap {
  flex-wrap: nowrap;
}

.no-entries {
  display: flex;
  justify-content: center;
}
